<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            html {
                width: 1024px;
                height: 768px;
            }
            <%= ["xi","bei"].map(kind=>`body.${kind} {background: url(${utils.getImageUrl(kind, undefined, "jpg")}) no-repeat center center / cover;}`).join("\n") %>
            .wrapper {
                padding: 80px;
                padding-top: 180px;
            }
            .wrapper > p {
                font-size: 32px;
                line-height: 48px;
                height: 48px;
                text-align: center;
            }
            body.xi p.bei,
            body.bei p.xi {
                display: none;
            }
            .wrapper > p > span {
                margin: 0 10px;
            }
            .wrapper > p > span.prev {
                color: gray;
            }
            .wrapper > p > span.curr {
                font-weight: bold;
                color: red;
            }

            .wrapper > p > img {
                width: 48px;
                height: 48px;
                vertical-align: middle;
                line-height: 48px;
            }

            .ranks {
                margin-top: 40px;
                display: flex;
                width: 100%;
                height: 256px;
                justify-content: space-evenly;
            }

            div.rank {
                position: relative;
                width: 256px;
                height: 256px;
            }

            div.rank > img {
                position: absolute;
            }

            div.rank.prev {
                filter: grayscale(1);
            }
            div.rank.curr {
                transform: scale(1.25);
            }
            div.rank p {
                font-size: 36px;
                bottom: 20px;
                width: 100%;
                text-align: center;
                color: #fff;
                position: absolute;
            }
        </style>
    </head>
    <% const {name, avatar, isRising, prevRank, currRank} = data; %>
    <body class="<%= isRising ? "xi" : "bei" %>">
        <div class="wrapper">
            <p class="xi">热烈祝贺群友 <img src="<%= avatar %>" /><%= name %> 在天梯中再获进步，</p>
            <p class="xi">由
                <span class="rank prev"><%= d2a.rank[prevRank.medal] %><%= prevRank.leader ?? prevRank.star %></span>升为
                <span class="rank curr"><%= d2a.rank[currRank.medal] %><%= currRank.leader ?? currRank.star %></span>，再接再厉，再创辉煌！
            </p>
            <p class="bei"><img src="<%= avatar %>" /></p>
            <p class="bei">寄</p>
            <div class="ranks">
                <div class="rank prev">
                    <img src="<%= utils.getImageUrl('medal_' +(prevRank.inTop100 ?? prevRank.medal)) %>" alt="" />
                    <img src="<%= utils.getImageUrl('star_' + prevRank.star) %>" alt="" />
                    <p><%= prevRank.leader ?? "" %></p>
                </div>
                <div class="rank curr">
                    <img src="<%= utils.getImageUrl('medal_' +(currRank.inTop100 ?? currRank.medal)) %>" alt="" />
                    <img src="<%= utils.getImageUrl('star_' + currRank.star) %>" alt="" />
                    <p><%= currRank.leader ?? "" %></p>
                </div>
            </div>
            <p style="text-align: right; margin-top: 40px;">—— <%= moment().format('YYYY/MM/DD HH点mm分') %></p>
        </div>
    </body>
</html>
