<!DOCTYPE html>
<html lang="<%= languageTag %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Match</title>
    <%- "<style>" %>
      <%- include("../common/styles/normalize.min.css") %>
      <%- include("./match_2/original.css") %>
    <%- "</style>" %>
  </head>
  <body>
    <%- include('./match_2/original') %>
  </body>
</html>
