<%# data.odParsed = true; %>
<!DOCTYPE html>
<html lang="<%= languageTag %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Match</title>
    <%- "<style>" %>
      <%- include("../common/styles/normalize.min.css") %>
      <%- include("./match_2/original.css") %>
      <%- include("./match_2+/extra.css") %>
    <% if (fontFamily) { %>
    <%- `body { font-family: ${fontFamily}; }` %>
    <% } %>
    <%- "</style>" %>
  </head>
  <body>
      <%# data.parsedDateTime=null %>
    <section id="regular"><%- include('./match_2/original') %></section>
    <section id="extra">
      <% if (data.parsedDateTime && data.radiantNetworthLeads && data.radiantExperienceLeads) { %>
        <%- include('./match_2+/charts') %>
        <div class="container">
          <%- include('./match_2+/map') %>
          <%- include('./match_2+/lane_outcome') %>
        </div>
      <% } else { %>
        <div class="tip"><%= $t("dota2tracker.template.empty_extra_info") %></div>
      <% } %>
    </section>
  </body>
</html>
