<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <title>Document</title>
        <style>
            html,
            body {
                background-color: black;
                color: white;
                width: 600px;
                font-size: 14px;
            }
            body > * {
                width: 100%;
                border: 1px #fff solid;
                border-radius: 5px;
                box-sizing: border-box;
            }
            img {
                vertical-align: middle;
            }
            span {
                min-width: 0;
                white-space: nowrap; /* 不换行 */
                overflow: hidden; /* 超出部分隐藏 */
                text-overflow: ellipsis; /* 省略号 */
            }

            .title {
                margin: 0;
            }
            .players {
                display: grid;
            }
            .player {
                display: grid;
                grid-template-columns: 24px 120px 128px 88px 160px;
                grid-template-rows: 1fr;
                width: 100%;
                height: 24px;
                align-items: center;
                justify-items: center;
                justify-content: space-between;
            }
            .avatar {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: #fff 1px solid;
                box-sizing: border-box;
            }

            .player > .name {
                display: block;
                width: 100%;
                text-align: center;
            }

            .player > .performance {
                display: flex;
                align-items: center;
            }
            .player > .performance > .score_bar {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10px;
                width: 51px;
                border-radius: 1px;
                background-color: #333;
            }
            .player > .performance > .score_bar > * {
                height: 100%;
            }
            .player > .performance > .score_bar.neg.over {
                justify-content: flex-start;
            }
            .player > .performance > .score_bar.pos.over {
                justify-content: flex-end;
            }
            .player > .performance > .score_bar.neg > .left {
                background: linear-gradient(to right, #777, #888, #999, #888, #777);
            }
            .player > .performance > .score_bar.pos > .right {
                background: linear-gradient(to right, #6cf, #7df, #6cf);
            }
            .player > .performance > .score_bar > .pipe {
                height: 12px;
                width: 1px;
                background-color: #fff;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
                position: relative;
            }

            .player > .performance > .score_value {
                display: block;
                margin-left: 4px;
                width: 28px;
                text-align: center;
            }

            .combinations {
                display: grid;
                grid-template-columns: repeat(4, auto);
                justify-content: start;
                align-items: center;
            }

            .combinations > .players {
                display: flex;
            }

            .combinations span:not(:first-child) {
                margin-left: 4px;
            }
            span.win {
                color: #006400;
            }
            span.lose {
                color: #8b0000;
            }
        </style>
    </head>
    <body>
        <% const { title, players, combinations, showCombi } = data; %>
        <h3 class="title"><%= title %></h3>
        <div class="players">
            <% for( let index = 0; index < players.length; index++ ) { const player = players[index]; %>
            <div class="player">
                <img src="<%= player.steamAccount.avatar %>" class="avatar" />
                <span class="name"><%= player.name %></span>
                <span class="count">
                    <span class="win">胜<%= player.winCount %></span>
                    <span class="lose">负<%= player.loseCount %></span>
                    <span>胜率<%= Math.round((player.winCount / player.matches.length) * 100) %>%</span>
                </span>
                <div class="performance">
                    <% const imp = {sign : "", left : 0, right : 0} %>
                    <% if (player.avgImp > 0) imp.sign = "+"; %>
                    <% if (player.avgImp < 0) imp.sign = "-"; %>
                    <% if (Math.abs(player.avgImp) > 25) { %>
                        <% imp.isOver = true; %>
                        <% if (player.avgImp > 0) imp.right = player.avgImp; %> 
                        <% if (player.avgImp < 0) imp.left = player.avgImp; %> 
                    <% } else imp.left = imp.right = player.avgImp; %>
                    <div class="score_bar<%= Math.abs(player.avgImp) > 0 ? " pos" : " neg" %><%= Math.abs(player.avgImp) > 25 ? " over" : "" %>">
                        <div class="left" style="width: <%= imp.left %>px"></div>
                        <div class="pipe"></div>
                        <div class="right" style="width: <%= imp.right %>px"></div>
                    </div>
                    <span class="score_value"><%= `${player.avgImp > 0 ? imp.sign : ""}${player.avgImp}` %></span>
                </div>
                <span class="kda"><%= `${player.avgKills}/${player.avgDeaths}/${player.avgAssists} (${player.avgKDA})` %></span>
            </div>
            <% } %>
        </div>
        <div class="combinations"<%= !showCombi ? ` style="display:none;"` : "" %>>
            <span style="grid-column: 1/-1">组合胜负情况：</span>
            <% combinations.forEach((combi) => {%>
                <div class="players">
                <% combi.players.forEach(player => {%>
                    <img src="<%= player.steamAccount.avatar %>" class="avatar" />
                <% }); %>
                </div>
            <span class="win">胜<%= combi.winCount %></span>
            <span class="lose">负<%= combi.matches.length - combi.winCount %></span>
            <span>胜率<%= Math.round((combi.winCount / combi.matches.length) * 100) %>%</span>
            <% }); %>
        </div>
    </body>
</html>
