<!DOCTYPE html>
<html lang="<%= languageTag %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <%- "<style>" %>
      <%- include("./match_2/original.css") %>
      <%- include("./match_2/extra.css") %>
    <%- "</style>" %>
  </head>
  <body>
    <section id="regular"><%- include('./match_2/original') %></section>
    <section id="extra">
      <% if (data.parsedDateTime && data.radiantNetworthLeads && data.radiantExperienceLeads) { %>
        <%- include('./match_2/charts') %>
      <% } else { %>
        <div class="tip">比赛未解析或无局势信息，无法展示更多数据。</div>
      <% } %>
    </section>
  </body>
</html>
